@model GrupoBLEficiente.Models.Attendance

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Editar</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdAttendance" />
            <div class="form-group">
                <label asp-for="IdEmployee" class="control-label"></label>
                <select asp-for="IdEmployee" class="form-control" asp-items="ViewBag.IdEmployee"></select>
                <span asp-validation-for="IdEmployee" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkDays" class="control-label"></label>
                <input asp-for="WorkDays" class="form-control" />
                <span asp-validation-for="WorkDays" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Absences" class="control-label"></label>
                <input asp-for="Absences" class="form-control" />
                <span asp-validation-for="Absences" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Vacations" class="control-label"></label>
                <input asp-for="Vacations" class="form-control" />
                <span asp-validation-for="Vacations" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayPeriodStart" class="control-label"></label>
                <input asp-for="PayPeriodStart" class="form-control" />
                <span asp-validation-for="PayPeriodStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayPeriodEnd" class="control-label"></label>
                <input asp-for="PayPeriodEnd" class="form-control" />
                <span asp-validation-for="PayPeriodEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="commissions" class="control-label"></label>
                <input asp-for="commissions" class="form-control" />
                <span asp-validation-for="commissions" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OnCallHours" class="control-label"></label>
                <input asp-for="OnCallHours" class="form-control" />
                <span asp-validation-for="OnCallHours" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar a Lista de Asistencias</a>
</div>


